<!-- Base page, other pages will extend this page -->
<!-- Since I only really need one page this is pretty unnecessary, but its good practise I guess -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrapping any pages inheriting this page via the super() call; layout is a lot nicer with this addition -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS file reference, need to include this for the canvas to have a border and other design features -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- JQuery reference, required for actually drawing on the canvas -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Need to reference the javascript file here in base.html-->
    <script src="/static/js/canvas.js"></script>

    <title>{% block title %} Emerging Technologies 2019 {% endblock %} </title>
    {% endblock %}
  </head>
  <body>
    </div>
    <div id="content" class="container main-container">
    {% block content %}{% endblock %}</div>
  </body>
</html>