<!-- Index page, extends base.html -->
{% extends 'layouts/base.html' %}

{% block head %}
<!-- Super() being base.html, referenced above -->
  {{ super() }}
{% endblock %}

{% block content %}
<body style="background: rgb(228, 228, 235)">

<div class="jumbotron text-center text-white rounded-0" style="padding-top:24px; padding-bottom:12px; background: rgb(64, 23, 31)">          
  <h1>Hand Written Digit Recognizer</h1>
  <p style="font-size: 17px;"><i>a neural network for written digit recognition</i></p>
</div>



<div class="jumbotron text-center text-white rounded-0 ">
      <h2 style="padding: 0px; font-size: 34px; color: rgb(25, 9, 54);">{{ title }}</h2>

      <canvas id="canvas" width="200" height="200"></canvas>
  <div>
      <button id="clearButton" class="btn btn-outline-primary">Clear Canvas</button>  
      <button id="publishButton" class="btn btn-outline-primary">Publish</button><br>
      <br>
      <input type="text" id="mytext"> 
  </div>
</div>


    
<div class="col-lg-5 rounded" style="min-height: 125px; padding-right: 50px">
</div>
<p style="text-align: right" style="font-size: 17px"><i>Faris Nassif <br> 4th Year | Emerging Technologies | GMIT</i></p>
</body>
{% endblock %}