<!-- Base page, other pages will extend this page-->
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/js/canvas.js"></script>
    <title>{% block title %} Emerging Technologies 2019 {% endblock %} </title>
    {% endblock %}
  </head>
  <body>
    </div>
    <div id="content" class="container main-container">
    {% block content %}{% endblock %}</div>
  </body>
</html>