<!-- Index page, extends base.html -->
{% extends 'layouts/base.html' %}

{% block head %}
<!-- Super() being base.html, referenced above -->
  {{ super() }}
{% endblock %}

{% block content %}
<div class="row text-center">
    <h1>{{ title }}</h1>
    <canvas id="canvas" width="200" height="200"></canvas>
    <a id="link"></a>
  </div>
  <br/>
  <div class="row text-center">
    <button id="clearButton">Clear Canvas</button>
    <button id="publishButton">Publish</button>
    <input type="text" id="mytext">
  </div>
  
{% endblock %}